{% extends "layout.html" %}
{% block main %}
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Type</th>
            <th>Timestamp</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}